<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}

            <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <style>
        {% block styling %}
        body{
        background:purple;
        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;
        color:white;
        text-align:center;
        }
        {% endblock%}
    </style>


    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>